@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root {
    --space-sm: 0.75em;
    --space-md: 1em;
}

/* box sizing and margins */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* button defaults */
button {
    font: inherit;
    display: block;
    padding: var(--space-sm);
    border: none;
    background-color: #222;
    color: white;
}

/* body defaults */
body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

/* Components */
.container {
    padding: 0 1em;
    min-height: 100vh;
    display: grid;
  
    grid-template-rows: 1fr auto;
}

.calculator {
    width: clamp(300px, 80vw, 350px);
    max-height: 500px;
    padding: var(--space-md);
    border-radius: 0.4em;
    margin: auto;

    background-color: white;
    box-shadow: 0 0 10px #222;

    display: grid;
    gap: 1em;
}

/* OUTPUT SCREEN AREA */
.output-screen {
    padding: var(--space-sm);
    border: 1px solid #bdbdbd;
    border-radius: 2em;
}